{
  "branches": [
    "'+([0-9])?(.{+([0-9]),x}).x'",
    "master",
    {
      "name": "beta",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "binaries/*",
            "label": "Prebuilt binaries"
          },
          {
            "path": "binaries/tpulse-proxy_linux",
            "label": "tpulse-proxy_linux_${nextRelease.gitTag}",
            "name": "tpulse-proxy_linux_${nextRelease.gitTag}"
          },
          {
            "path": "binaries/tpulse-proxy_mac",
            "label": "tpulse-proxy_mac_${nextRelease.gitTag}",
            "name": "tpulse-proxy_mac_${nextRelease.gitTag}"
          },
          {
            "path": "binaries/tpulse-proxy_windows.exe",
            "label": "tpulse-proxy_windows_${nextRelease.gitTag}.exe",
            "name": "tpulse-proxy_windows_${nextRelease.gitTag}.exe"
          },
          {
            "path": "tpulse-browser-extension.zip",
            "label": "tpulse-browser-extension_${nextRelease.gitTag}.zip",
            "name": "tpulse-browser-extension_${nextRelease.gitTag}.zip"
          }
        ]
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}